# Node modules

back/node_modules/
back/**/node_modules/
npm-debug.log*

# Logs
*.log
*.log.*

# Build output
back/dist/
back/**/dist/


# TypeScript cache
*.tsbuildinfo

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# Optional: docker / local configs
docker-compose.override.yml

.env
**/*.env

