global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - "alert_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node_exporter'
    static_configs:
      - targets: ['node_exporter:9100']

  - job_name: 'ft_transcendence_services'
    metrics_path: '/metrics'
    scrape_interval: 5s
    static_configs:
      - targets:
        - 'auth:3001'
        - 'user:3002'
        - 'game-engine:3003'
        - 'match:3004'
        - 'gateway:3000'
